source https://nuget.org/api/v2
redirects: on
framework: >= net40

nuget FSharp.Core
nuget FsUnit
nuget Hopac
nuget NUnit
nuget NUnit.Runners
nuget FSharp.Compiler.Service
nuget QuickGraph
nuget MBrace.Azure.Management
nuget Microsoft.Azure.Management.Compute
nuget Microsoft.Azure.Management.ResourceManager
nuget Microsoft.Azure.Management.Sql
nuget Microsoft.IdentityModel.Clients.ActiveDirectory
