source https://nuget.org/api/v2
redirects: on
framework: >= net40

nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Management
nuget FsUnit
nuget Hopac
nuget NUnit
nuget NUnit.Runners
nuget FSharp.Compiler.Service
nuget QuickGraph
nuget MBrace.Azure.Management
nuget Microsoft.Azure.Management.Compute prerelease
nuget Microsoft.Azure.Management.ResourceManager prerelease
nuget Microsoft.Azure.Management.Sql prerelease
nuget Microsoft.IdentityModel.Clients.ActiveDirectory
