<?xml version="1.0" encoding="utf-8" ?>
<AzureSettings>
	<Subscription>
		<File>c:\tmp\azure\my.publishsettings</File>
		<Name>subscriptionname</Name>
	</Subscription>
	<CloudService>
		<File>c:\tmp\azure\mbracepackages\mycustom\MBrace.Azure.CloudService.cspkg</File>
		<Name>mymbrace</Name>
		<Provisionning>
			<Region>Central US</Region>
			<VMSize>Medium</VMSize>
			<VMCount>4</VMCount>
		</Provisionning>
	</CloudService>
	<ActiveDirectory>
		<Login>login</Login>
		<Password>password</Password>
		<ClientID>0108-0108-0108-0108-010801080108</ClientID>
		<TenantID>1008-1008-1008-1008-100810081008</TenantID>
		<Certificate>BASE64CERTIFICATE</Certificate>
	</ActiveDirectory>
</AzureSettings>